{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "endOfLine": "lf",
    "rules": {
      "camelcase": ["error", { "properties": "never", "ignoreDestructuring": false }]
    }
  }